
.admin-main {
    display: flex;
    margin-top: 100px; /* Offset for navbar height */
}


/* Sidebar styles */
.admin-sidenav {
    background-color: #444;
    color: white;
    height: calc(100vh - 60px); /* Full viewport height minus navbar height */
    position: fixed;
    top: 80px; /* Start directly under navbar */
    margin-bottom: 10px;
    
}

/* Main content styles */
.admin-content {
    padding: 20px;
    margin-left: 80px;
    width: calc(100% - 50px);
    max-height:100%;
}
.admin-content a{
    text-decoration: none;
}
.admin-content a:hover{
    text-decoration: none;
}
/* Admin card styling */
.admin-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 20px;
    width:100%;
    max-height:100%;
}
.admin-card1 {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-height:100%;
}
.admin-child-card{
    background-color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    max-height: 100%;

}
.admin-child-card:hover{
    box-shadow:5px 10px 15px rgba(140, 140, 141, 0.9);
}
 .admin-child-card span:hover{
    font-size: 30px;
   
}
.admin-child-card span {
    font-weight: bold;
    font-size: 25px;
  }

/* Responsive adjustments */
@media (max-width: 768px) {
    .admin-sidenav {
        background-color: #444;
        color: white;
        height: calc(100% - 10px); /* Full viewport height minus navbar height */
        position: fixed;
        top: 80px; /* Start directly under navbar */
        margin-bottom: 10px;
        height: auto;
        position: relative;
        top: 0;
    }

    .admin-content {
        margin-left: 80px;
        width: 100%;
    }
    .admin-card1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }
    .admin-child-card{
        margin: 25px 0;
    }
}
